/**********
Héctor Lavandeira Fernández - UO277303
Descripción del estilo de la red social
**********/

/*Especificidad: (0,0,1)*/
img, video {
    max-width: 25%;
}

/*Especificidad: (0,0,1)*/
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(200, 212, 226);
    color: black;
}

/*Especificidad: (0,0,1)*/
section {
    border: 0.2em solid lightslategray;
    border-radius: 1em;
    margin-bottom: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    color:black;
    background-color: #F5F7FA;
}

/*Especificidad: (0,0,1)*/
h1, h2 {
    text-align: center;
    background-color: rgb(10, 104, 133);
    color: rgb(219, 225, 233);
}

/*Especificidad: (0,0,1)*/
h2 {
    border-bottom: 0.3em solid white;
}
